<% if @facebookclone.errors.any? %>
  <div id="error_explanation">
    <h2><%= @facebookclone.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @facebookclone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>投稿を作成</h1>
<%= form_with(model: @facebookclone) do |form| %>
  <div class="content">
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <%= form.submit "投稿"%>
<% end %>