<h1>アカウント登録</h1>
<h3>簡単に登録できます</h3>


<%= form_with(model: @user, local: true) do |f| %>  
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "アカウント登録" %>
<% end %>